:root {
    --equal-spacing: 0px;
    --button-width: 10em;
    --button-padding: 10px 20px;
    --button-font-size: 16px;
    --border-radius: 5px;
    --box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    --transition: all 0.3s ease;
    --neutral-grey: #6c757d;
    --light-grey: #bfc7d0;
    --light-grey-hover: #a9b0b8;
    --success-color: #28A745;
    --success-hover: #1e7e34;
    --primary-color: #007BFF;
    --primary-hover: #0056b3;
    --text-color: #111;
    --white-color: white;
    --border-color: #ccc;
}

body {
    margin: 0;
    padding: 2em;
    color: var(--text-color);
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 15px;
    font-weight: normal;
}

h1 {
    margin-bottom: var(--equal-spacing);
    text-align: center;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto var(--equal-spacing);
    width: 80%;
    max-width: 800px;
    padding: 20px;
    box-sizing: border-box;
    border: none;
}

canvas {
    margin-bottom: 2em;
    margin-top: var(--equal-spacing);
    display: block;
    margin-left: auto;
    margin-right: auto;
    background: var(--white-color);
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
}

button,
select {
    width: var(--button-width);
    padding: var(--button-padding);
    font-size: var(--button-font-size);
    border: none;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    cursor: pointer;
    transition: var(--transition);
}

button {
    color: var(--white-color);
}

select {
    background-color: var(--light-grey);
    color: black;
    text-align: center;
    text-align-last: center;
}

select:hover {
    background-color: var(--light-grey-hover);
}

#openImage {
    background-color: var(--light-grey);
    color: black;
}

#openImage:hover {
    background-color: var(--light-grey-hover);
    color: black;
}

#reset {
    background-color: var(--light-grey);
    color: black;
}

#reset:hover {
    background-color: var(--light-grey-hover);
    color: black;
}

#help {
    background-color: var(--light-grey);
    color: black;
}

#help:hover {
    background-color: var(--light-grey-hover);
    color: black;
}

.spore-mode-on {
    background-color: var(--success-color);
}

.spore-mode-off {
    background-color: var(--neutral-grey);
}

.spore-mode:hover {
    background-color: var(--success-hover);
}

.scale-mode-on {
    background-color: var(--primary-color);
}

.scale-mode-off {
    background-color: var(--neutral-grey);
}

.scale-mode:hover {
    background-color: var(--primary-hover);
}

.text-center {
    text-align: center;
}

footer {
    display: flex;
    justify-content: center;
    width: 100%;
}

footer i {
    color: black;
    font-size: 1.5em;
    padding: 0 10px;
}

footer .fa-house:hover {
    color: var(--success-hover);
    cursor: pointer;
}

footer .fa-github:hover {
    color: var(--primary-hover);
    cursor: pointer;
}